div{

}

cor{
    background-color: rgba(25, 0, 255, 0.3);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    
}

char{
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.key{
   size: 35px;
}
.plavrachave{
   
  
}

.tecla{
    width: 35px;
    height: 35px;
}

#hud { 

    width: 100%;
    max-width: 1800px;
    background-color: #777;
    height: 300px;
}

#titulo {
    text-align: center;
}

#teclado {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    width: 350px;

}