div{

}

c{
    background-color: #34f;
    width: 35px;
    height: 35px;
    
}

.plavrachave{
    position: absolute;
    left: 50%;
  margin-left: -1600px; /* A metade de sua largura. */
  
}

.tecla{
    width: 35px;
    height: 35px;
}

#hud { 
    position: relative;
    width: 100%;
    max-width: 1800px;
    background-color: #777;
    height: 300px;
}

#titulo {
    text-align: center;
}

#teclado {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    width: 350px;

}